.container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
    min-height: 600px;
}

.question_container
{
    border: 1px solid #4da1a8;
    max-width: 65%;
    margin-bottom: 10%;
}
#titre
{
    margin-top: 3%;
}
.question
{
    background: #4da1a8;
    color: white;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    min-width: 90%;
    font-size: 1.5rem;
    height: 40%;
    border-bottom: 2px solid white;
}

.reponse
{
    background: white;
   /* display: none; */
    padding: 10px;
    padding-bottom: 10px;
    min-width: 90%;
    transition: max-height 0.2 ease-out;
}