.container{
    border: solid 3px #3e7c82;
    font-size: 25px;
    text-align:center;
    width:35%;
    margin-top:5%;
}

.container h1{
    color: #3e7c82;
    font-family: 'Open Sans',sans-serif;
}

.container > label{
    margin-top:2%;
    margin-right:2%;
}