body{
	font-family: 'Roboto', sans-serif;
}

h1{
	color:	#4DA1A8;
	margin-bottom: 5%;
}

.titreFiche{
	text-align: center;
}

.container h3{
	text-align: justify;
    text-justify: inter-word;
}

.introFiche{
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin:auto;
	grid-column-gap: 5%;
}


.introFiche img
{
	grid-column: 2;
}

.txtIntro{
	grid-column: 3;
	width:100%;
}

.txtIntro > h3
{
	font-size:150%;
}

.reconnaitre > h2,
.reagir > h2
{
	color:#a5b9bc;
	text-align: center !important;
}


.numPartie{
	font-size: 300%;
}

.container h2{
	text-align: center;
}

.container p{
	width:30%;
	margin:0 auto;
    text-align: justify;
}

img[alt="etouffement"]
{
	width:100%;
}

.reconnaitre
{
	margin-top:5rem;
}

.reagir{
	margin-bottom: 10%;

}

.index
{
	position: relative;
	color:#4DA1A8;
	font-size: 200%;
	display: inline-block;
	top:5px;
}

.introPage{
	margin:0 auto;
	text-align: justify;
	width:50%;
}