*{
    font-family: 'Advent Pro', sans-serif;
}

body{
    margin:0 auto;
}

section{
    margin:0 auto;
}

/*SECTION IMGACC - IMAGE DE FOND + TITRE*/
#imgAcc{
    position: relative;
    text-align: center;
    color: white;
}

#imgAcc > img {
    width: 100%;
}

#centered{
    color: #cee7eb;
    text-shadow: 0 0 20px #3F5785, 0 0 20px #3F5785;
}

/*SECTION - PRESENTATION - TITRE + TITRE DES PRESENTATIONS*/
#presentation{
    padding-bottom: 50px;
}
#presentation h1{
    font-size: 50px;
    text-align: center;
    width:70%;
    margin: auto;
    color:#a5b9bc /*#cee7eb*/;
    padding: .3em;
}

#presentation p{
    font-size: 20px;
    text-align: justify;
    width:70%;
    margin: auto;
    padding: .3em;
}

/*SECTION VOTE ANIMAL + IMAGE*/
#vote{
    
    background-color: /*#cee7eb*/ #0980AC;
    padding-top : 1%;
    padding-bottom : 4%; 
}

.container h2{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

section h1{
    color: white;
    text-align: center;
    font-size: 60px;
}

#images{
    display: grid;
    grid-template-columns: 33% 20% 33%;
    justify-content: center;
}
#images > div{

    justify-self:center;
}

.imageVote:hover
{
    cursor:pointer;
}

@media (min-width: 768px)
{
    #centered{
        position: absolute;
        font-size: 7em;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px)
{
    #centered{
        position: absolute;
        font-size: 3.5em;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*@media (max-width: 360px)
{
    #centered{
        font-size: 3em;
    }
}

@media (min-width: 1015px){
    #centered{
        font-size: 8em;
        top:17%;
        left:12%;
    }
} */

#titreSecourisme
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-top: 3rem;

}

#titreSecourisme height: 1px;
{
    padding:0;
    width: 100%;
}

#titreSecourisme img:first-child
{
    grid-column: 3;
}


#titreSecourisme h1
{
    grid-column: 4;
    width: 100%;
    padding:0;
}


#titreSecourisme img:last-child
{
    grid-column: 5;
}


.svg
{
    display: block;
    width: 25%;
}
#introPage > h3
{
    font-size:150%;
    text-align: center;
    margin:2rem 4rem   ;
}


.row-6
{
    margin-top:2rem;
    display:grid;
    grid-template-areas: 'card card card saign saign saign'
                         'brul brul etouf etouf frac frac';
    text-align: center;
    justify-content: center;
    justify-items:center;

}

#burns
{

    color:white;
    grid-area: brul;
}

#bleeding
{
    color:white;
    grid-area: saign;
}

#fractures
{
    color:white;
    grid-area: frac;
}

#chocking
{
    color:white;
    grid-area: etouf;
}

#heart
{
    color:white;
    grid-area: card;
}

/*.row-2
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items:center;
    margin-top: 2rem;
}*/
.row-6 > .case
{
    width:100%;
}
/*.row-2 > .case
{
    width:35%;
}*/

.case
{
    background: crimson;
    text-transform: uppercase;
    cursor:pointer;
    border:5px solid white;
 /*   border-radius:10px;*/
    text-align: center;
    font-size: 160%;
    padding:3.5rem;
}



.row-6 p
{
    padding:0;
    text-align:center !important;
    justify-self:center;
    align-self: center;
}


#burns:checked ~ #divBurns
{
    display:block;
}

#burns(:not):checked~#divBurs
{
    display:none;
}

#cas > div
{
    display:none;
}

.reagir  p,
.reconnaitre  p 
{
    text-align: center !important;
}