/* DivTable.com */
body{
	font-family: "roboto light", sans-serif;
	height:100%;
	width:100%;
}

h1{
	text-align:center;
}

.haut
{
	align-content: space-between;
    
}
.divTable{
	padding-left: 10%;
	display: table;
	width: 80%;
}
.divTableRow {
	display:grid; /*on met grid dans .divTableRow car c'est elle qui contient toute les colonnes*/
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr; /*fr pour que ca prenne en proportion toute la page */	
}
.divTableHeading {
	background-color: #EEE;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	padding: 10px 10px;
}
.divTableHeading {
	background-color: #EEE;
	font-weight: bold;
}

.divTableBody:first-child {
	background:none;
}



.divTableCell {
	text-align:center;
}

.divTableCell:.heure
{
	background:gray;
}

.divTableRow:first-child .divTableCell:first-child
{
	background:none;
}

.divTableCell:.jour
{
	background:none;
}

.resBtn, #avancerBtn{
	background-color: #4da1a8;/*#555555; /* Green */
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#avancerBtn{
    margin-left: 85%;
    margin-bottom: 1%
}

.resBtn:hover, #avancerBtn:hover {
  background: #3e676b;
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten($green, 18%); 
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($green, 9.5%);
  transition: all 250ms linear;
}





