/* PLANNING */ 

body{
	font-family: arial, sans-serif;
}

divTableBody { 
	padding-left: 10%; 
	width: 80%; 
	overflow: auto; 
} 

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

h1{
	text-align:center;
}