#chatbox
{
	font-family: 'Ubuntu';
	border:1px solid grey;
	height:10rem;
	overflow-y: auto;
	overflow-x:hidden;
	width:100%;
	background:white;
}


#comment_txt
{
	margin-top:1.2rem;
	border:1px solid #a5b9bc;
	padding:0;
	width:100%;
}

.comment
{
	margin-left:0.75rem;
    -webkit-transition: opacity 2s ease-in;
-moz-transition: opacity 2s ease-in;
-ms-transition: opacity 2s ease-in;
 -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;

}

#commands
{
	position:relative;
	width:100%;
}

#submit{
	display:block;
	background:#4F805D;
	padding:0.5rem;
	border:none;
	color:white;
	cursor: pointer;
	margin: 0.5rem auto;
}

.comment .load
{
	opacity:1;
}


#submit:hover
{
	background:lightgreen;
	color:black;
}

#disconnect:hover
{
	background:lightgrey;
	color:black;
}

section
{
	background:azure;
	border-radius: 5px;
	width:258px;
	padding:2rem;
}


.comment{
width: 230px;
word-wrap: break-word;
}

@media (max-width: 1185px)
{
	#disconnect
	{
		display:block;
		margin:0 auto;
	}

	#submit
	{
		display:block;
		margin:1.2rem auto;
	}
}

@media (max-width: 350px)
{
	section
	{
		width:80%;
	}

	.comment{
    width: 200px;
    word-wrap: break-word;
	}
}

