.container img{
    width:250px;
    height:350px;
}

.main{
    margin-bottom:90px;
}

.container{
    font-size:25px;
    margin-top:50px;
    text-align:center;
}

#listAnim{
    margin:40px;
}

.info{
   border: solid #458b90;
   margin: 20px;
   padding: 10px;
   max-width:50%;
   margin-left:25%;
}

.info label{
    margin-right:8px;
}

#form_anim{
    margin-top:40px;   
}

#animal_form_confAddAnimal{
    margin-top:3% !important;
    margin-left:-39% !important;
}