{% extends "./base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/base/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1>CONNEXION</h1>
    <div class="container">
        {{ form_start(form) }}
        <a id="forgot" href="forgot">Mot de passe oublié ?</a>
        <a id="signup" href="signup">Pas encore inscrit(e) ?</a>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}