{% extends "./base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1>INSCRIPTION</h1>
    <div class="container">
        {{ form_start(form) }}{{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}