/* RESPONSIVITE MENU */

@media (min-width :  768px){
	.nav{
	    text-align: center;
	}

	.menu:nth-child(2){
		display: none;
	}

	.menu ul{
		display:flex;
		justify-content:space-around;
	}

	.menu > ul > li {
		margin:auto;
		padding: 0em 2em;
		overflow: hidden;
	}

	a:first-child img
	{
		height:80px;
		padding-top:0.5em;
	}

	.snav li {
		position: relative;
		margin: 0;
		padding: 0;
		display:block;
	}

	nav li a {
		font-size : 21px;
	}

	#active a{
		color : #10363c;
	}

	.menu:first-child li:hover ul li  {	
		display: block;
		/*padding-right : 1em;*/
	}

	p{font-size: 20px;}

}

@media (max-width :  768px){

	#menu-toggler, #footer-toggler{
		display:none;
	}
	.menu{
		width: 100%;
		margin: 0 auto;
	}
	nav{
		transform:translateY(0px);
	}
	.menu > ul > li {
		margin:auto;
		padding: 0em 1.5em;
		overflow: hidden;
  	}
	body
	{
		overflow-x: hidden;
	}

	.menu > ul > li {
		margin:auto;
		padding: 0em 1em;
		overflow: hidden;
	}

	.menu:first-child {
		display: none;
	}

	.menu:nth-child(2){
		position: fixed;
		top: 0;
		width: 50vw;
		min-height: 100vh;
		margin: 0;
		background-color: #4da1a8de; 
	}

	.main{
		margin-top: -50px;
		margin-bottom: -50px;
		background-color: #FFF;
	}

	.nav-button-open{
		background-image: linear-gradient(to right, #64adb3, #64adb3),
	      linear-gradient(to right, #64adb3, #64adb3),
	      linear-gradient(to right, #64adb3, #64adb3);
	}

	.nav-button-close{
		background-image: linear-gradient(to right, #ffffff, #ffffff),
	      linear-gradient(to right, #ffffff, #ffffff),
	      linear-gradient(to right, #ffffff, #ffffff);
	}

	[class^="nav-button"] {
		position:fixed;
	    display: block;
	    z-index: 2;
	    height: 2.5rem; 
	    top: 18px;
	    width: 5.6rem;
	    background-color: transparent;
	    background-position: center top, center, center bottom;
	    background-repeat: no-repeat;
	    background-size: 3rem .5rem;
	    padding: 0;
	    outline: 0;
	    border: 0;
	    cursor: pointer;
	    -webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	
	#btnOpen:checked ~ .nav-button-open,
	#btnClose:checked ~ .nav-button-close {
		display: none;
	}

	#btnOpen:checked ~ .nav-button-close,
	#btnClose:checked ~ .nav-button-open {
		display: block;
		z-index:+6 !important;
	}

	#btnClose:checked ~ nav{
		transform:translateX(-550px);
		transition:transform ease-out .3s;
	}
	
	#btnOpen:checked ~ nav{
		transform:translateX(0px);
		transition:transform ease-out .3s;
	}

	a:first-child img
	{
		display: block;
		height:80px;
		padding-top:0.5em;
		margin: auto;
	}

	#navigation a {
		margin: 0.1em auto;
	    padding-left: 1em;
	    text-decoration: none;
	}

	#navigation a:not(:first-child):hover,
	#navigation a.dropbtn:hover {
		background-color:#40d0dc;
	}

	.snav {
	    display: block;
	    position: relative;
	    min-width: 160px;

	}

	.snav a {
		float: none;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown{
		overflow: hidden;
	}

	.dropdown:hover .snav{
		display: block;
	}

	.snav
	{
		background: #3e7c82;
	}

	p{
		font-size: 1em;
	}
}