	/* BALISES */

.sf-dump{
	z-index:0 !important;
}

*{
	font-family: 'Roboto Condensed', sans-serif !important;
}

html {
	background-color : #FFFFFF;
	height : 100%;
	width: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x:hidden;
}

a {
	text-decoration: none;
/*	font-family: 'Advent Pro' !important;
*/	font-size: 20px;
}

nav {
	position:fixed;
	transform:translateY(-80px);
	transition:transform ease-out 0.8s;
	top:0%;
	z-index:5;
	width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #4da1a8de;
}

ul{	margin: 0; }

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin-top:3.5%;
    font-size: 30pt;
    color:#357e84;
}

h2{
	padding: 0;
	margin: 0;
}

h3{ margin: 0; }

p{ margin: 0; }

/* GESTION DU MENU MENU 1 */

input[name="menuBtn"]{
	display:none;
}

.menu li {
	text-align: center;
	list-style-type : none;
	display : inline-block;
}

.menu li a:hover{
	color : #78fdff;
}

.menu:first-child ul li:hover ul{
	opacity:100;
	transform: translateY(10px);
	display: block;
	padding : 0;
	margin : 0;
	background-color : #4da1a8de; 
	text-align : center;
}

.menu li a{
	display : inline;
	color : white;
	text-decoration:none;
	text-align : center;
	transition : color 0.3s;
}

/* GESTION DU MENU 2 */

.menu:nth-child(2) a{
	display : block;
	color : white;
}

/* SOUS NAV NON MONTREE */
.menu .snav{
	opacity:0;
	-webkit-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
	will-change:transform;
	text-transform: none;
	position:absolute;
}

#menu-toggler{
	transform:translateY(-170px);
	height:200px;
	width:100%;
	position:fixed;
	z-index:5;
	/* display: none; */
}

#menu-toggler:hover ~ nav, nav:hover{
	transform:translateY(0px);
	transition: transform ease-out .2s;
}

/* SOUS NAV AFFICHE LORSQUE HOVER SUR 1RST LI*/
.snav {
    padding: 15px 15px 5px 20px !important;
    margin: -10px -25px !important;
    box-shadow: 0px  rgba(0,0,0,0);
    z-index: 1;	
}

/*.snav > li:first-child{padding-top: 1.5em;}*/
.wrapper{
	position: relative;
	min-height: 100vh;
	margin: auto;
}

.main{
	margin-top:50px !important;
	text-align: justify;
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3A7A7F; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5DC3CC; 
}

/* FOOTER */

#footer-toggler{
	height:40px;
	width:100%;
	bottom: 0px;
	position:fixed;
	z-index:5;
}

#footer-toggler:hover ~ footer > #support_contact, #support_contact:hover{
	transform:translateY(0px);
	transition: transform ease-out .2s;
}

#support_contact {
	transform:translateY(152px);
	transition: transform ease-out .8s;
	position:fixed;
    background-color: #4da1a8de;
    color: white;
	align-items: center;
	bottom:0px;
	display: flex;
	flex-direction: row;
	align-content: center;
	width: 100%;
	text-align: center;
	justify-content: center;
	padding-top: 1%;
}

#support
{
	width: 30%;
}

#contact
{
	width: 30%;
}