#chatbox
{
	font-family: 'Calibri',Serif;
	border:1px solid grey;
	height:10rem;
	overflow-y: auto;
	overflow-x:hidden;
	width:100%;
	background:white;
}


#comment_txt
{
	margin-top:1.2rem;
	border:1px solid #a5b9bc;
	padding:0;
	width:100%;
	outline:none;
}

.commentChatBox
{
	margin-left:0.75rem;
	-webkit-transition: opacity 2s ease-in;
	-moz-transition: opacity 2s ease-in;
	-ms-transition: opacity 2s ease-in;
	-o-transition: opacity 2s ease-in;
	transition: opacity 2s ease-in;

}

#commands
{
	position:relative;
	width:100%;
}

#submitComment{
	display:block;
	background:#3d7e84;
	padding:0.5rem;
	border:none;
	color:white;
	cursor: pointer;
	margin: 0.5rem auto;
}

.commentChatBox .load
{
	opacity:1;
}


#submitComment:hover
{
	background:#57b5bd;
}

#chatsect
{
	z-index:+5;
	background:#f7f7f7;
	width:258px;
	position:fixed;
	bottom:0%;
	right:0%;
	z-index:+8;
}


.commentChatBox{
	width: 230px;
	word-wrap: break-word;
}

@media (max-width: 1185px)
{
	#disconnect
	{
		display:block;
		margin:0 auto;
	}

	#submitComment
	{
		display:block;
		margin:1.2rem auto;
	}
}

@media (max-width: 350px)
{
	#chatsect
	{
		width:80%;
	}

	.commentChatBox{
		width: 200px;
		word-wrap: break-word;
	}
}