form{
    padding:30px 80px;
    box-sizing: content-box;
    border: solid #5fbac1 3px;
    font-family: 'Open Sans', sans-serif;
    color:#6d6d6d;
    font-size:17;
}

form > * button{
    transform:translate(120%);
    border: solid #5fbac1 3px !important;
    background-color:white !important;
    color:#6d6d6d !important;
    font-weight:400;
    font-size:15pt !important;
}

form > * button:hover{
    border: solid #ffffff 3px !important;
    background-color:#4da1a8 !important;
    color:#ffffff !important;
    transition: all linear 0.08s;
}

form > * button:active{
    background-color:#54cdd8;
}

form > a {
    position:absolute;
    transform: translate(455%,680%);
    text-decoration:none !important;
    color:#797979;
    font-size:14pt;
    font-family:arial;
}

#signup{
    transform: translate(450%,840%);
}

#sign_up_form_signup{
    transform: translate(0%);
}

#forgot:hover, #signup:hover {
    color:#0d95a0;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    outline: none !important;
    background-color: transparent;
    border: 0px solid;
    width: 100%;
    color: #6b6b6b;
    border-bottom: 2px solid #8c8c8c;
    font-family: 'Open Sans', sans-serif;
    font-size:11pt;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus{
    box-shadow: none;
    caret-color:#328188 !important;
    color:#328188;
    border-bottom: 2px solid #4da1a8 !important;
    transition: all linear 0.4s;
}

input[type="submit"]:active {
    outline: none !important;
    box-shadow: none;
}