*{
    font-family: 'Advent Pro', sans-serif;
}

body{
    margin:0 auto;
}

/* SELECTIONNER ANIMAL FICHES */
#select_pet{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4DA1A8;
    text-align: center;
    font-size:20px;
}

#select_pet li{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#select_pet li:hover{
    background-color: #253C40;
}

label {
    cursor: pointer;
}

.contenu_fiche {
    display: none;
}

input[name="fiche"]{ display:none; }

input:first-child:checked ~ #dogs_fiches{
    display:block;
}

input:first-child:checked ~ #modals_chien
{
    display:block;
}

input:nth-child(2):checked ~ #cats_fiches
{
    display:block;
}

input:nth-child(2):checked ~ #modals_chat
{
    display:block;
}

input:nth-child(3):checked ~ #birds_fiches
{
    display:block;
}

input:nth-child(4):checked ~ #rondents_fiches
{
    display:block;
}

input:nth-child(5):checked ~ #fishes_fiches
{
    display:block;
}




/* RESIZE IMG */
.apercu_fiche img {
    width: 100%;
}

.apercu_fiche{
    float: left;
    margin: 10px 5px;
}

#main_contenu{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 75%;

    min-height: 450px;
}

.animation
{
    display: none;
}

.centrer_DivApresClick > * img
{
    margin:0 auto;
    height:300px;
    width:500px;
}

.centrer_DivApresClick
{
    margin-top:2%;
    margin-left:35%;
}

#dog:checked ~ #main_contenu .contenu_fiche:first-child{
    display: grid;
}

#cat:checked ~ #main_contenu .contenu_fiche:nth-child(2){
    display: grid;
}

#bird:checked ~ #main_contenu .contenu_fiche:nth-child(3){
    display: grid;
}

#rondent:checked ~ #main_contenu .contenu_fiche:nth-child(4){
    display: grid;
}

#fish:checked ~ #main_contenu .contenu_fiche:nth-child(5){
    display: grid;
}

/* MODAL */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_content{
    width: 75%;
    margin:auto;
    padding: 20px;
    border: 1px solid #4DA1A8;
    background-color:white; 
}

.close {
    color: #aaaaaa;
    direction: rtl;
    font-size: 40px;
    font-weight: bold;
    display: block;
    width: 100%;
    grid-row: 1;
    grid-column: 2;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* PAGINATION */
/*.center {
    text-align: center;
    margin-bottom: 1%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4DA1A8;
    color: white;
    border: 1px solid #4DA1A8;
}*/

#modals_chat > .modal:nth-child(3) >.modal_content
{
    display:block;
    text-align: center;
}

img.raceChat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;
}


