@media (max-width: 820px) {
	#dog:checked ~ #main_contenu .contenu_fiche:first-child{
	    display: grid;
	    grid-template-columns: 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}

	#cat:checked ~ #main_contenu .contenu_fiche:nth-child(2){
	    display: grid;
	    grid-template-columns: 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}

	#bird:checked ~ #main_contenu .contenu_fiche:nth-child(3){
	    display: grid;
	    grid-template-columns: 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}

	#rondent:checked ~ #main_contenu .contenu_fiche:nth-child(4){
	    display: grid;
	    grid-template-columns: 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}

	#fish:checked ~ #main_contenu .contenu_fiche:nth-child(5){
	    display: grid;
	    grid-template-columns: 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}
}

@media (min-width: 820px) {
	/* AFFICHER LES CONTENUS DE FICHES SEULEMENT SI 
	ON A CLIQUÉ SUR LES ONGLETS*/

	#dog:checked ~ #main_contenu .contenu_fiche:first-child{
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}

	#cat:checked ~ #main_contenu .contenu_fiche:nth-child(2){
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}

	#bird:checked ~ #main_contenu .contenu_fiche:nth-child(3){
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}

	#rondent:checked ~ #main_contenu .contenu_fiche:nth-child(4){
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}

	#fish:checked ~ #main_contenu .contenu_fiche:nth-child(5){
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr; 
	    text-align: center;
	    align-content: center;
	}
}

@media (max-width: 295px){
	.img_fiche
	{
		min-width:93px;
		min-height: 64px;
	}
}

@media (min-width :  768px){

	.modal_content{
	    display: grid;
	    grid-template-columns: 50% 50%;
	}

	.modal_content_block
	{
		display: block;
		text-align: center;
	}

	.modal_content_block .close
	{
		text-align: justify;
	}

	
	.illu{
		grid-row: 2;
		grid-column: 1;
	    width: 100%;
	    align-self: center;
	}

	.illu>img{
		display: block;
		margin: auto;
		max-width: 100%;
		max-height: 400px;
	}
	.text_mod{
	    grid-row: 2;
	    width: 95%;
	    padding: 0 0.5em;
	    max-height: 400px;
	    overflow-y: auto;
	}

}

@media (max-width :  768px){

	.illu{
		display: none;
	}

	.text_mod{
	    padding: 0.5em;
	    max-height: 450px;
	    overflow-y: scroll;
	}

	.apercu_fiche img {
    	max-width: 250px;
    	max-height: 167px;
	}

}