.container > *{
	font-family:Quicksand;
}

.container p
{
	font-size:27px;
	align-content: center;
}


body{
	background-color : #FFFFFF;
}

/*
#menu{
	background-color : #C4C9CF;
}
*/

ul#menu li { 
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
}

#QUEST{
	font-size:23px;
}

ul#menu {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
}

.button1 {
	font-size:23px;
    background-color: white;
    color: black;
    border: 2px solid #4da1a8;;
	margin: 4px 2px;
	padding: 0.5%;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration:none !important;
}

.button1:hover {background-color: #4da1a8;color: white;}