h1 {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin-top:3.5%;
    font-size: 30pt;
    color:#357e84;
}

form[name="login_form"]{
  display:flex;
  flex-direction:column;
  transform:translate(100%,5%);
  width:28%;
  height:220px;
  box-sizing: content-box;
  border: solid #5fbac1 3px;
  padding: 50px;
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
  color:#6d6d6d;
}

#login_form__username {
  margin-left:109px;
}

#login_form__password{
  margin-left:60px;
}

#login_form__username, #login_form__password{
  margin-bottom:18px;
}

form[name="login_form"] > * label{
  margin: 10px;
}

#login_form_connect{
  width:30%;
  height:40px;
  transform:translate(120%,145%);
  border: solid #5fbac1 3px;
  border-radius:10px;
  background-color:white;
  color:#6d6d6d;
  font-weight:400;
  font-size:14pt;
}

#login_form_connect:hover{
  border: solid #ffffff 3px;
  border-radius:10px;
  background-color:#4da1a8;
  color:#ffffff;
  transition: all linear 0.08s;
}

#login_form_connect:active{
  background-color:#54cdd8;
}

#forgot, #signup {
  position:absolute;
  text-decoration:none;
  color:#797979;
  font-size:11pt;
  font-family:arial;
}

#forgot:hover, #signup:hover {
  color:#0d95a0;
}

#forgot{
  right:5%;
  top:50%;
}

#signup{
  right:5%;
  top:60%;
}

form[name="login_form"] > div:nth-child(5){
  margin-top:3%;
}

form[name="login_form"] > div{
  margin-left:-10px;
}

#login_form__username, #login_form__password {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 310px;
    color: #6b6b6b;
    border-bottom: 2px solid #8c8c8c;
    font-family: 'Open Sans', sans-serif;
    font-size:11pt;
}

#login_form__username:focus, #login_form__password:focus{
    outline: none;
    caret-color:#328188;
    color:#328188;
    border-bottom: 2px solid #4da1a8;
    transition: all linear 0.4s;
}

#login_form_connect:focus,#login_form_connect:active {
   outline: none !important;
   box-shadow: none;
}

@media (max-width: 1808px) {
  #login_form__username, #login_form__password
  {
    width:14vw !important;
  }
}

@media (max-width: 1520px) {
  #login_form__username, #login_form__password
  {
    width:12vw !important;
  }
}

@media (max-width: 1400px) {
  #login_form__username, #login_form__password
  {
    width:180px !important;
  }

  form[name="login_form"]{
    width:393px;
  }
}