h1 {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin-top:3%;
    font-size: 30pt;
    color:#357e84;
}

form[name="sign_up_form"]{
  display:flex;
  flex-direction:column;
  transform:translate(74%,3%);
  width:35%;
  height:365px;
  box-sizing: content-box;
  border: solid #5fbac1 3px;
  padding: 50px;
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
  color:#6d6d6d;
}

#sign_up_form__username {
  margin-left:109px;
}

#sign_up_form__password{
  margin-left:60px;
}

input[type="text"], 
input[type="password"],
input[type="email"]{
  margin-bottom:18px;
}

form[name="sign_up_form"] > * label{
  margin: 10px;
}

#sign_up_form_signup{
  width:40%;
  height:40px;
  transform:translate(80%,80%);
  border: solid #5fbac1 3px;
  border-radius:10px;
  background-color:white;
  color:#6d6d6d;
  font-weight:400;
  font-size:14pt;
}

#sign_up_form_signup:hover{
  border: solid #ffffff 3px;
  border-radius:10px;
  background-color:#4da1a8;
  color:#ffffff;
  transition: all linear 0.08s;
}

#sign_up_form_signup:active{
  background-color:#54cdd8;
}

form[name="sign_up_form"] > div:nth-child(5){
  margin-top:3%;
}

form[name="sign_up_form"] > div{
  margin-left:-10px;
}

input[type="text"], 
input[type="password"],
input[type="email"] {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 310px;
    color: #6b6b6b;
    border-bottom: 2px solid #8c8c8c;
    font-family: 'Open Sans', sans-serif;
    font-size:11pt;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="email"]:focus{
    outline: none;
    caret-color:#328188;
    color:#328188;
    border-bottom: 2px solid #4da1a8;
    transition: all linear 0.4s;
}

#sign_up_form_signup:focus,#sign_up_form_signup:active {
   outline: none !important;
   box-shadow: none;
}

@media (max-width: 1808px) {
  #sign_up_form__username, #sign_up_form__password
  {
    width:14vw !important;
  }
}

@media (max-width: 1520px) {
  #sign_up_form__username, #sign_up_form__password
  {
    width:12vw !important;
  }
}

@media (max-width: 1400px) {
  #sign_up_form__username, #sign_up_form__password
  {
    width:180px !important;
  }

  form[name="sign_up_form"]{
    width:393px;
  }
}