{% extends "base.html.twig" %}

{% block title %}ANIMAL CHOICE'S{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/accueil/accueil.css') }}">
{% endblock %}

{% block body %}
    <div id="imgAcc">
        <img src="{{ asset('img/accueil/accueilChien.jpg') }}" alt="">
        <h1 id="centered">DÉCOUVRIR . AIMER . ADOPTER</h1> 
    </div>
    <section>{{ user['login'] | default("") }}</section>
    
    <section id="presentation">
        <h1> QUI SOMMES NOUS ?</h1>
        <p>Nous sommes des jeunes passionnés par les animaux. Nous nous préoccupons du sort de ces derniers, notamment par l’abandon et la maltraitance. Nous avons décidé de réaliser ce site pour permettre aux animaux de trouver un maître, et d’obtenir ainsi un nouveau foyer. En effet, ici vous pourrez trouver les animaux qui sont dans l’attente d’êtres adoptés.
        Ce site permet notamment à ce que vous trouviez des solutions pour votre animal domestique, dans l’urgence par exemple, mais aussi de discuter avec d’autres utilisateurs qui pourraient répondre à vos questions.  
        </p><br><hr>
        <h1> QUE FAIRE SUR NOTRE SITE ?</h1><br>
        <div id="logosPresentation">    
            <div id="adoptez">
                <h3>ADOPTEZ</h3><br>
                <img src="{{ asset('img/accueil/logo_adoption.png') }}" alt=""><br></br>
                <p>Abandonnés ou des maîtres qui ne peuvent plus s’en occuper… Chaque animal a droit à une seconde chance ! 
                Découvrez les animaux à adopter !
                </p>
            </div>
            <div id="renseignez">
                <h3>RENSEIGNEZ-VOUS</h3><br>
                <img src="{{ asset('img/accueil/logo_forum.png') }}" alt=""><br></br>
                <p>Vous avez des questions auxquelles notre FAQ et nos fiches n’ont pas la réponse ? Venez communiquer avec nos utilisateurs. Venez partager vos expériences !</p>
            </div>
            <div id="discutez">
                <h3>DISCUTEZ </h3><br>
                <img src="{{ asset('img/accueil/logo_tchat.png') }}" alt=""><br></br>
                <p>Se faire des amis, faire des rencontres, c’est toujours sympa !Venez communiquer avec nous !</p>
            </div>
            
        </div>
        
    </section>
    
    <section id="vote">
        <h2>Votez pour l'animal de la semaine en cliquant sur l'image de votre choix : </h2>
        <div id="images">
            <div class="imageVote"></div>
            <div class="imageVote"></div>
            <div class="imageVote"></div>
        </div>
        
         <h1 id="txtvote"></h1>
        
    </section>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/accueil/accueil.js') }}"></script>{% endblock %}