{% extends "base.html.twig" %}

{% block title %}ANIMAL CHOICE'S{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/accueil/accueil.css') }}">
{% endblock %}

{% block body %}
    <div id="imgAcc">
        <img src="{{ asset('img/accueil/accueilChien.jpg') }}" alt="">
        <h1 id="centered">DÉCOUVRIR . AIMER . ADOPTER</h1> 
    </div>
    <section>{{ user['login'] | default("") }}</section>
    
    <section id="presentation">
        <h1> WHO ARE WE ?</h1>
        <p>We are young people passionate about animals. We are concerned about their fate, including abandonment and abuse. We decided to make this site to allow the animals to find a master, and thus obtain a new home. Here you can indeed find animals that are waiting to be adopted.<br> This site allows you to find solutions for your pet, in emergency for example, but also to discuss with other users who can eventually answer your questions.
        </p><br><hr>
        <h1> WHAT CAN YOU DO ?</h1><br>
        <div id="logosPresentation">    
            <div id="adoptez">
                <h3>ADOPT</h3><br>
                <img src="{{ asset('img/accueil/logo_adoption.png') }}" alt=""><br></br>
                <p>Abandoned or their masters can no longer take care of them ... Each animal deserves to get a second chance! <br> Discover the animals to adopt!
                </p>
            </div>
            <div id="renseignez">
                <h3>INFORM YOURSELF</h3><br>
                <img src="{{ asset('img/accueil/logo_forum.png') }}" alt=""><br></br>
                <p>Do you have any questions ? Take a look at the FAQ or meet other users 
                    and share your own experience !</p>
            </div>
            <div id="discutez">
                <h3>DISCUSS </h3><br>
                <img src="{{ asset('img/accueil/logo_tchat.png') }}" alt=""><br></br>
                <p>Make friends throught our chat. Don't hesitate to talk with everyone.</p>
            </div>
            
        </div>
        
    </section>
    
    <section id="vote">
        <h2>Please click on the animal of the month ! </h2>
        <div id="images">
            <div class="imageVote"></div>
            <div class="imageVote"></div>
            <div class="imageVote"></div>
        </div>
        
         <h1 id="txtvote"></h1>
        
    </section>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/accueil/accueil.js') }}"></script>{% endblock %}