{% extends "base.html.twig" %}

{% block title %}Adoption{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/adoption/qcm.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <!-- onload est déclarer de façon à lancer la fonction init() au chargement de la page HTML en mémoire -->
        <body>  <!--définir onload pour lancer la fonction init()-->
        <!--
        <ul id="menu">
            <li><a href="qcm.html">Page d'accueil</a></li>
        </ul>
        -->

        <p>Prendre soin d’un animal de compagnie représente un véritable défi.<br>
            Il est donc essentiel de mesurer votre capacité à accueillir un animal avant l’adoption.<br>
            Ce QCM vous permet de vous donner une indication sur cette capacité.<br>
            La réussite de celui-ci vous permettra de passer à la prochaine étape : le rendez-vous d'adoption.<br>
            Pour réusir le test vous devez avoir le score maximal de 4/4

        </p>

        <div id='QUEST'>
        </div>	<!--bloc d'affichage dynamique-->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/adoption/qcm.js') }}"></script>
{% endblock %}