{% extends "base.html.twig" %}

{% block title %}Animaux{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/animaux/animaux.css') }}" rel="stylesheet">
    <link href="{{ asset('css/base/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Animaux</h1>
        {%  if animaux is defined %}
            <div id="listAnim">
            {% for animal in animaux %}
                {%  if not animal.estAdopte %}
                    <img src="{{ asset('uploads/animaux/' ~ animal.photo) }}"><br>
                    <div class="info">
                        <input type="hidden" value="{{ animal.id_animal }}"/>
                        <label>Prénom : </label>{{ animal.prenom }}<br>
                        <label>Espèce : </label>{{ animal.espece }}<br>
                        <label>Race : </label>{{ animal.race }}<br>
                        <label>Adresse : </label>{{ animal.adresse }}<br>
                        <label>Présent depuis le : </label>{{ animal.date_inscription|date('d-m-Y') }}<br>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                            <input class='btnSupprAnim' type='submit' value="Supprimer"/>
                        {% elseif is_granted('ROLE_USER') %}
                            <input id='btnAdoptAnim' type='submit' value="Adopter"/>
                        {% endif %}
                    </div>
                {% endif %}
                {% if not loop.last %}
                     <hr />
                {% endif %}
            {% endfor %}
            </div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                <input id='btnAjoutAnim' type='submit' value="Ajouter un animal"/>
                {{ form_start(form, {'attr': {'id': 'form_anim'}}) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/animaux/animaux.js') }}"></script>{% endblock %}