<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"> 	
	<link href="{{ asset('css/base/base.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/base/base_mq.css') }}" type="text/css" rel="stylesheet" />
{# 	<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,600" rel="stylesheet"> #}
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}
</head>
<body id="body">
<a id="haut"></a>
<input id="btnOpen" type="radio" name="menuBtn" />
<input id="btnClose" type="radio" name="menuBtn" checked />
<label for="btnOpen" class="nav-button-open" aria-label="open navigation"></label>
<label for="btnClose" class="nav-button-close" aria-label="close navigation"></label>
<div id="menu-toggler"></div>
<nav>
<!-- 	<a href="accueil" class="logo">
	<img src="{{ asset('svg/base/LogoPJS4.svg') }}">
</a> -->
	<div class="menu">
		<ul>
			<a href="accueil" class="logo">
				<img src="{{ asset('svg/base/LogoPJS4.svg') }}">
			</a>
		</ul>
		<ul>
			<li id="active"><a href="accueil">ACCUEIL</a></li>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
				<li><a href="compte">MON COMPTE</a></li>
            {% endif %}
			<li><a href="adoption">ADOPTION</a>
				<ul class="snav">
					<li><a href="animaux">Animaux</a></li>
					<li><a href="praticien">Praticien</a></li>
				</ul>
			</li>
			<li><a href="forum">FORUM</a>
				<ul class="snav">
					<li><a href="forum#general">Général</a></li>
					<li><a href="forum#prevention">Prévention</a></li>
					<li><a href="forum#autres">Autres</a></li>
				</ul>
			</li>
			<li><a href="#">FICHES</a>
				<ul class="snav">
					<li><a href="fiches_impl">Infos</a></li>
					<li><a href="secourisme">Secourisme</a></li>
				</ul>
			</li>
			<li><a href="faq">FAQ</a></li>
			<li>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
					<a href="logout">DÉCONNEXION</a>
				{% else %}
					<a href="login">CONNEXION</a>
				{% endif %}
			</li>
		</ul>
	</div>

	<div class="menu">
		<div id="navigation" role="navigation">
			<a href="accueil" class="logo">
				<img src="{{ asset('svg/base/LogoPJS4.svg') }}">
			</a>
		    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
				<a href="logout">DÉCONNEXION</a>
			{% else %}
				<a href="login">CONNEXION</a>
			{% endif %}
			<a href="accueil"> ACCUEIL</a>
			<div class="dropdown">
				<a href="adoption" class="dropbtn">ADOPTION</a>
				<div class="snav">
					<a href="animaux">Animaux</a>
					<a href="praticien">Praticien</a>
				</div>
			</div>
			<div class="dropdown">
				<a href="forum" class="dropbtn">FORUM</a>
				<div class="snav">
					<a href="forum#general">Général</a>
					<a href="forum#prevention">Prévention</a>
					<a href="forum#autres">Autres</a>
				</div>
			</div>
			<div class="dropdown">
				<a href="#" class="dropbtn">FICHES</a>
				<div class="snav">
					<a href="fiches_impl">Animal</a>
					<a href="secourisme">Secourisme</a>
				</div>
			</div>
			<a href="faq">FAQ</a>
		</div>
	</div>
</nav>

<div class="wrapper">
	<div class="main">
		{% block body %}{% endblock %}
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        	{{ include('chat.html.twig') }}
		{% endif %}
	</div>
</div>

<div id="footer-toggler"></div>
<footer>

	<div id="support_contact">
		<div id="support">
			<h3> Support </h3>
			<p> Notre équipe </p>
		</div>
		<div id="us">
			<h2> SOS Animal </h2>
			<p> Nous sommes un groupe d'étudiants. Venez découvrir notre équipe ! </p>
		</div>
		<div id="contact">
			<h3> Contact </h3>
			<p> info@nomdecompagnie.com </p>
			<p> adresse de la compagnie </p>
			<div id="social_media">
			<a href="#siteFacebook">
			<!-- <img src="{{ asset('svg/base/facebook.svg') }}"> -->
			</a>
			<a href="#siteTwitter">
			<!-- <img src="{{ asset('svg/base/twitter.svg') }}"> -->
			</a>
			</div>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{{ asset('js/base/base.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
