{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/base/chat.css') }}">{% endblock %}
{% block body %}
    <div id="chatsect">
        <div id="utilisateur" style="display: none"></div>
        <div id="chatbox">
        </div>
        <div id="commands">
            <input type="text" placeholder="Tapez votre commentaire..." id="comment_txt">
            <button id="submitComment">Soumettre</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ asset('js/base/chat.js') }}"></script>
{% endblock %}