{% extends "base.html.twig" %}

{% block title %}Mon compte{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/compte/compte.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon Compte</h1>
        <img src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}"><br>
        <label>Votre pseudo : </label>{{ app.user.username }}<br>
        <label>Votre prénom : </label>{{ app.user.prenom }}<br>
        <label>Votre nom : </label>{{ app.user.nom }}<br>
        <label>Votre adresse : </label>{{ app.user.adresse }}<br>
        <label>Date d'inscription : </label>{{ app.user.date_inscription|date('d-m-Y') }}<br>
        <label>Votre statut : </label>
        {% if is_granted('ROLE_ADMIN') %}
            Administrateur
        {% elseif is_granted('ROLE_MODERATOR') %}
            Modérateur
        {% elseif is_granted('ROLE_USER') %}
            Utilisateur
        {% endif %}
        <br>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}