{% extends "base.html.twig" %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

<h1>Erreur 403</h1>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% endblock %}