{% extends "base.html.twig" %}

{% block title %}F.A.Q{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/faq/faq.css') }}"> {% endblock %}

{% block body %}
    <div class="container">
       <h1 id="titre">F.A.Q</h1>

        <div class="question_container">

            <div id="q-1" class="question">
                Quel est le concept de votre site ?
            </div>

            <div id="r-1" class="reponse">
                Notre site a pour but de permettre à différents individus (associations, organisation, particuliers) d'adopter des animaux tout en étant sûr de l'amour que les animaux recevront. 
            </div>

            <div id="q-2" class="question">
                Comment contacter une organisation?
            </div>

            <div id="r-2" class="reponse">
                Notre équipe qui sera à disposition pour vous mettre en contact avec l'organisation que vous voulez contacter. Le tchat mis à disposition peut faire office de contact avec notre équipe. Sinon, un formulaire de contact sera bientôt mis à disposition. Il est aussi possible de contacter via le questionnaire sous la catégorie adoption si cela concerne une adoption d'un animal !
            </div>

            <div id="q-3" class="question">
                Comment adopter ?
            </div>

            <div id="r-3" class="reponse">
                Il faut tout d'abord prendre un rendez-vous ou remplir le questionnaire afin qu'on puisse définir si vous pouvez être un potentiel adopteur. Veuillez comprendre que nous ne souhaitons pas avoir adopteur qui ne prenne pas soin des animaux dont ils sont responsables.
            </div>


            <div id="q-4" class="question">
                Qui sommes-nous ?
            </div>

            <div id="r-4" class="reponse">
                Nous sommes un intermédiaire entre particuliers et particuliers, associations/organisation et particuliers. Notre site doit permettre aux utilisateurs de faire adopter leurs animaux pour divers raisons de façon rapide et simple tout en étant sûr que vos petits chouchous soient entre de bonnes mains !
            </div>

            <div id="q-5" class="question">
                Comment nous contacter ?
            </div>

            <div id="r-5" class="reponse">
                Vous pouvez vous référer à la partie "Comment contacter une organisation ?" ! <br> Sinon vous pouvez nous contacter à l'adresse mail suivante : anidoptcontact@gmail.com.
            </div>

            <div id="q-6" class="question">
                Comment contacter une organisation?

            </div>

            <div id="r-6" class="reponse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut

            </div>
{# 
            <div id="q-7" class="question">
                Comment adopter ?
            </div>

            <div id="r-7" class="reponse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            </div>

            <div id="q-8" class="question">
                Comment contacter une organisation?

            </div>

            <div id="r-8" class="reponse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut

            </div>

            <div id="q-9" class="question">
                Comment adopter ?
            </div>

            <div id="r-9" class="reponse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            </div> #}
        </div>
    </div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/faq/faq.js') }}"></script>{% endblock %}