{% extends "./base.html.twig" %}

{% block title %}Fiches{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/fiches/fiches.css') }}">
<link rel="stylesheet" href="{{ asset('css/fiches/fiches_mq.css') }}">
{% endblock %}

{% block body %}
    <input type="radio" name="fiche" id="dog" checked>
    <input type="radio" name="fiche" id="cat">
    <input type="radio" name="fiche" id="bird">
    <input type="radio" name="fiche" id="rondent">
    <input type="radio" name="fiche" id="fish">

    <div id="select_pet">
        <li> <label for="dog"> Chiens </label></li>
        <li> <label for="cat"> Chats </label> </li>
        <li> <label for="bird"> Oiseaux </label> </li>
        <li> <label for="rondent"> Rongeur </label> </li>
        <li> <label for="fish"> Poissons </label> </li>
    </div>
    
    
    <div id="main_contenu"> 
        <div class="contenu_fiche" id="dogs_fiches">
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/chiens/pup_cup.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Nourriture </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview"> 
                    <img src="{{ asset('img/fiches/chiens/dog_glasses.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Santé </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/chiens/pups_3.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Races </div>
            </div>
            <div class="apercu_fiche" id="preview_dog_cara">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/chiens/dog_forest.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Caractéristiques </div>
            </div>            
        </div>

        <div class="contenu_fiche" id="cats_fiches" >
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/chats/cat_5.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Nourriture </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview"> 
                    <img src="{{ asset('img/fiches/chats/cat_7.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Santé </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/chats/cat_2.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Races </div>
            </div>
            <div class="apercu_fiche" id="preview_dog_cara">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/chats/cat_3.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Caractéristiques </div>
            </div>  
            
        </div>
        <div class="contenu_fiche" id="birds_fiches">
            
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/oiseaux/perruche/perruche_2.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Nourriture </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview"> 
                    <img src="{{ asset('img/fiches/oiseaux/perruche/perruche_1.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Santé </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/oiseaux/birds_1.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Différents types d'oiseaux </div>
            </div>
            <div class="apercu_fiche" id="preview_dog_cara">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/oiseaux/birds_2.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Caractéristiques </div>
            </div>  
        </div>

        <div class="contenu_fiche" id="rondents_fiches">    
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/rongeurs/rongeur.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Caractéristiques </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview"> 
                    <img src="{{ asset('img/fiches/rongeurs/lapin/rabbit_1.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Lapin </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/rongeurs/cochon_dinde/guinea_pig_2.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Cochon d'Inde </div>
            </div>
            <div class="apercu_fiche" id="preview_dog_cara">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/rongeurs/hamster/hamster_1.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Hamster </div>
            </div>  
            <div class="apercu_fiche" id="preview_dog_cara">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/rongeurs/gerbille/gerbille.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Gerbille </div>
            </div>
            <div class="apercu_fiche" id="preview_dog_cara">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/rongeurs/souris/mouse_1.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Souris </div>
            </div>  
        </div>

        <div class="contenu_fiche" id="fishes_fiches">
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/poisson/goldfish.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Nourriture </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview"> 
                    <img src="{{ asset('img/fiches/poisson/betta_fish.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Santé </div>
            </div>
            <div class="apercu_fiche">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/poisson/koifish.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Espèces </div>
            </div>
            <div class="apercu_fiche" id="preview_dog_cara">
                <div class="img_preview">
                    <img src="{{ asset('img/fiches/poisson/goldfish_2.jpg') }}" class="img_fiche">
                </div>
                <div class="label_preview"> Caractéristiques </div>
            </div>   
        </div>
    </div>
<!-- 
<div class="center">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#" >2</a>
        <a href="#">&raquo;</a>
    </div>
</div> -->

    {% block modal %} {% endblock %}

{% endblock %}



{% block javascripts %}
<script src="{{ asset('js/fiches/fiches.js') }}"></script>
{% endblock %}