{% extends 'fiches.html.twig' %}

{% block modal %}		
	<div id="modals_chien">
		<div class="modal"> 
		    <div class="modal_content">
		    <div class="close">&times;</div>  
		    <div class="text_mod"> 
				<h2>Alimentation</h2>
				<p> Régime : Carnivore</br>
					Alimentation : Quel type d’alimentation donner à son chien ?
					L’alimentation industrielle : aliments dits humides comme les pâtées en boîtes ou en barquettes et par la nourriture sèche comme les croquettes</p>
				<p>	L’alimentation « maison » : aussi connue sous le nom de « ration ménagère ». elle consiste à préparer soi-même les repas de son chien. Mais attention : alimentation « maison » ne signifie pas donner les restes de tables à son chien, ni même lui faire manger les mêmes repas que ceux des membres humains. La ration ménagère doit être équilibrée (avec l’aide d’un vétérinaire) et adaptée aux besoins particuliers du carnivore non strict qu’est le chien. Quand elle bien équilibrée, l’alimentation maison est très qualitative. C’est même ce qu’il y a de mieux pour le chien, des points de vue nutritionnels et digestifs. Il existe des variantes de la ration ménagère « classique » : l’alimentation « BARF » pour « Biologically Appropriate Raw Food » et l’alimentation « Raw-feeding ». </p>
				<p>L’alimentation « mixte » : mélange des deux modes d’alimentation cités précédemment
					L’estomac très distensible d’un chien adulte sans problème de santé particulier l’autorise à ne faire qu’un seul repas par jour.</br> </p>
				<p>Mais, dans de nombreux cas, il est cependant conseillé de fractionner la ration journalière en 2 à 3 repas par jour :
					chez les animaux qui ont des besoins énergétiques importants comme les chiots pendant leur période de croissance, les chiennes gestantes et allaitantes et les chiens sportifs comme par exemple, les chiens de chasse,généralement quand la ration alimentaire est humide (pâtées, ration ménagère…) et donc plus volumineuse et particulièrement chez les chiens qui appartiennent à des grandes races pour limiter les risques de torsion de l’estomac auxquels ils sont plus sujets,
					chez les animaux qui souffrent de troubles gastro-intestinaux. Le fractionnement des repas leur garantira une digestion plus facile, chez les chiens qui sont particulièrement voraces naturellement (Labrador, Beagle…) ou qui ont des apports caloriques réduits dans le cadre d’un régime amaigrissant afin de leur éviter de trop ressentir la faim.</p>
		    </div>
		    <div class="illu">
		    	<img src="{{ asset('img/fiches/chiens/dog_4.jpg') }}">
		    </div>
		    </div>
		</div>


		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2>Santé</h2>
		        	<p>CANIDÉS :
					La rage (rhabdovirus) : maladie est très fréquente et sa transmission se fait par griffure, léchage ou morsure. Le virus est fortement concentré dans la salive des animaux porteurs.
					Le vaccin est la solution par excellence pour protéger votre animal de cette infection.
					SYMPTÔMES : Les symptômes de la rage sont donc principalement nerveux : changements de comportement (agressivité, peur), problèmes de déglutition, voix modifiée, salivation, paralysies, démangeaisons. Mais de nombreux symptômes très variés sont possibles. <br>
					Il n'y a pas de traitement efficace : la mort est irrémédiable et survient en 4 à 5 jours après les premiers symptômes chez le chien.<br>
					DIAGNOSTIC : Interdiction d’euthanasier un chien qui a mordu un être humain avant un délai de 15j; garder le chien en observation<br>
					Eviter tout contact avec animal inconnu<br>
					Après morsure par un animal : Lavez la plaie avec l’eau savonneuse (5min)<br>
					Possibilité d’avoir un sérum anti-rabique auprès d’un médecin spécialisé si nécessaire
					Vaccination fortement conseillé chez l’homme pour les populations à risque (métiers incluant un animal)
					PRÉVENTION : La vaccination (dès 3 mois); 1 injection + rappel annuel.Obligatoire dans certaines conditions.
					En cas d'oubli du rappel, le protocole devra être repris depuis le début (vaccination valable 21 jours après).<br>

					La parvovirose : maladie qui touche le tube digestif à travers une gastro-entérite. La contamination entre chiens se fait de manière facile. Le vaccin permet de mettre votre animal à l’abri.<br>
					SYMPTÔMES : diarrhée hémorragique avec odeur nauséabonde +  vomissements<br>
					fièvre, est très abattu, déshydratation rapide<br>
					Baisse de défense de l’organisme/sensibilité accrue aux autres infections (bactériennes)<br>
					DIAGNOSTIC : <br>
					Test de dépistage sérologique par prise de sang sur animaux non vaccinés<br>
					Test effectué sur les selles pour mettre en évidence le virus<br>
					Observation d’une baisse des globules blancs du sang<br>
					PRÉVENTION : Eviter tout contact avec un animal malade<br>
					existence d’un vaccin praticable dès la 8ème semaine : 2 injections à un mois d’intervalle; rappel tous les ans ou 2 ans<br>
					</p>
		        </div>
		        <div class="illu">
		    	<img src="{{ asset('img/fiches/chiens/dog_3.jpg') }}">
		    </div>
		    </div>
		</div>

		<div class="modal"> 
		    <div class="modal_content modal_content_block">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h3>Voici quelques exemples de races de chiens qui pourraient vous intéresser</h3><br>
		        	<div><h4>- Le Labrador</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/labrador.jpg') }}" ><br></br>
		        	</div>
		        	<div><h4>- Le berger allemand</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/berger_allemand.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le golden retriever</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/golden_retriever.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le beagle </h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/beagle.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le bouledogue</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/bouledogue.jpg') }}" ><br></br>
		        	</div>
		        	<div><h4>- Le yorkshire-terrier</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/yorkshire-terrier.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le boxer</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/boxer.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le caniche</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/caniche.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le rottweiler</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/rottweiler.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le teckel</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chiens/teckel.jpg') }}"><br></br>
		        	</div>
		        </div>
		    </div>
		</div>

		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2> Que faut-il savoir sur nous ? </h2>
		        	<p> Taille : variable selon la race <br/>
			        Poids : variable selon la race <br/>
			        Longévité : 10-13 ans <br>
			        Les chiens de petite race ont une espérance de vie plus longue et ne sont considérés comme vieux qu’aux alentours de 12-13 ans alors que les gros chiens sont vieux vers 8-9 ans. La longévité maximale pour un chien est de 27 ans. Les scientifiques ont déterminé que la moyenne de vie est de 13 ans si l’on prend en compte toutes les races. <br/>
			        Vitesse : 32 km/h <br>
			        Les vitesses du chien peuvent varier selon les races, voici les plus rapides :
			        Lévrier anglais peut atteindre jusqu'à 63 Km / h.<br>
			        Lévrier espagnol peut courir jusqu'à 60 km/h.<br>
			        Saluki, le lévrier ancestral <br>
			        Le lévrier afghan <br> </br>
			    	Maturation sexuelle : La puberté des chiens mâles se situe entre dix et douze mois selon les races ; les plus tardives étant les plus grandes (comme le Dogue allemand), du fait de leur croissance plus longue
					Saison des amours : La chienne a ses chaleurs deux fois par an et celles-ci durent trois semaines (au printemps et à l'automne). Elle les aura ensuite tout le reste de sa vie même si elles ont tendance à s’espacer lorsque l’animal vieillit.<br></br>   

					Gestation : Elle dure de 56 à 70 jours.
					Portée : Le nombre est fonction de la race et de la chienne. Les grandes races peuvent avoir des portées de 13 ou 14 chiots. La moyenne est de 5 petits par portée.<br> </p>
		        </div>
		        <div class="illu">
		    	<img src="{{ asset('img/fiches/chiens/dog_2.jpg') }}">
		    </div>   
		    </div>
		</div>
	</div>
	
	<div id="modals_chat">
		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>  
		        <div class="text_mod"> 
		        <h2> Que mangeons-nous ?</h2>
		        <p>
		        	Régime : Carnivore<br>
					Alimentation : Les chats domestiques ont, comme tous les félins, une alimentation à base de viande. Ils apprécient néanmoins les produits à base de lait comme le fromage, les yaourts, les biscuits,… Cependant, beaucoup de chats présentent une intolérance au lactose, et notamment les chatons. 
		        </p>
		        </div> 
		        <div class="illu">
		    	<img src="{{ asset('img/fiches/chats/cat_4.jpg') }}">
		    </div>     
		    </div>
		</div>

		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        <h2>Comment me garder en bonne santé ?</h2>
		        <p>	Pour les chatons : premiers vaccins : <br>
					Dès l'âge de 2 mois, les chatons ne sont plus protégés par les anticorps de leur mère. Il est donc recommandé de commencer à les vacciner à ce moment là et d’effectuer une seconde injection un mois plus tard.<br>
					Pour les chats adultes : rappels annuels :<br>
					Il est fortement conseillé de vacciner tous les ans votre chat pour réactiver ses anticorps vaccinaux et continuer à le protéger des maladies infectieuses contre lesquelles il avait été vacciné chaton.</br>
					Tous les ans, le Centre Hospitalier Vétérinaire Atlantia vous envoie une petite lettre de rappel pour ne pas que vous oubliiez la date de vaccination de votre chat.<br>
					Même si votre chat est âgé (et surtout s'il est âgé), il ne faut pas oublier ses rappels, car ses défenses immunitaires s’amenuisent avec le temps et il devient plus fragile.<br>
					Les vaccinations de votre chat doivent être à jour, en particulier si vous l'emmenez en voyage ou s’il est gardé dans une pension.<br>
		        </p>
		        </div>
		        <div class="illu">
		    	<img src="{{ asset('img/fiches/chats/cat_1.jpg') }}">
		    </div>   
		    </div>
		</div>

		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		         <div class="text_mod" > 
		        	<h3>Voici quelques exemples de races de chats qui pourraient vous intéresser</h3><br>
		        	<div><h4>- Le chat Siamois</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chats/siamois.jpg') }}" ><br></br>
		        	</div>
		        	<div><h4>- Le chat Chartreux</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chats/chartreux.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le chat Maine Coon</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chats/MaineCoon.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le chat Abyssin</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chats/Abyssin.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le chat de gouttière</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chats/gouttière.jpg') }}" ><br></br>
		        	</div>
		        	<div><h4>- Le chat Bleu russe</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chats/BleuRusse.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le chat Oriental</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chats/oriental.jpg') }}"><br></br>
		        	</div>
		        	<div><h4>- Le chat Persan</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/chats/persan.jpg') }}"><br></br>
		        	</div>
		    	</div>
		</div>
		</div>

	<div class="modal"> 
	    <div class="modal_content">
	        <div class="close">&times;</div>
	        <div class="text_mod"> 
	        	<h2> Que faut-il savoir sur nous ? </h2>
		        <p>Taille : 45 cm </br>
				Sans leur queue, les chats domestiques font autour de 30 cm de longueur.</br>
				Poids : 9 kg </br>
				Un chat pèse entre 2,5 et 9 kg.</br>
				Longévité : 15 ans </br>
				En moyenne les chats domestiques vivent entre 12 et 15 ans, alors que leur espérance de vie est de 2 à 5 ans quand ce sont des chats errants. Le record de longévité d'un chat domestique est de 36 ans.</br>
				Vitesse : 50 km/h </br>
				Le chat n'est pas un coureur endurant mais un coureur rapide sur de courtes distances. Malgré sa taille il court en moyenne à 40 km/h et effectue le 100 m en 9 s. Ses pointes de vitesse peuvent aller jusqu'à 50 km/h. </br></p>
	        </div> 
	        <div class="illu">
	        	<img src="{{ asset('img/fiches/chats/cat.jpg') }}">
	        </div> 
	    </div>
	</div>


	<div id="modals_oiseau">
		<div class="modal"> 
		    <div class="modal_content">
		    <div class="close">&times;</div>  
		    <div class="text_mod"> 
				<h2>Alimentation</h2>
				<p> Régime : Carnivore</br>
					Alimentation : Quel type d’alimentation donner à son chien ?
					L’alimentation industrielle : aliments dits humides comme les pâtées en boîtes ou en barquettes et par la nourriture sèche comme les croquettes</p>
				<p>	L’alimentation « maison » : aussi connue sous le nom de « ration ménagère ». elle consiste à préparer soi-même les repas de son chien. Mais attention : alimentation « maison » ne signifie pas donner les restes de tables à son chien, ni même lui faire manger les mêmes repas que ceux des membres humains. La ration ménagère doit être équilibrée (avec l’aide d’un vétérinaire) et adaptée aux besoins particuliers du carnivore non strict qu’est le chien. Quand elle bien équilibrée, l’alimentation maison est très qualitative. C’est même ce qu’il y a de mieux pour le chien, des points de vue nutritionnels et digestifs. Il existe des variantes de la ration ménagère « classique » : l’alimentation « BARF » pour « Biologically Appropriate Raw Food » et l’alimentation « Raw-feeding ». </p>
				<p>L’alimentation « mixte » : mélange des deux modes d’alimentation cités précédemment
					L’estomac très distensible d’un chien adulte sans problème de santé particulier l’autorise à ne faire qu’un seul repas par jour.</br> </p>
				<p>Mais, dans de nombreux cas, il est cependant conseillé de fractionner la ration journalière en 2 à 3 repas par jour :
					chez les animaux qui ont des besoins énergétiques importants comme les chiots pendant leur période de croissance, les chiennes gestantes et allaitantes et les chiens sportifs comme par exemple, les chiens de chasse,généralement quand la ration alimentaire est humide (pâtées, ration ménagère…) et donc plus volumineuse et particulièrement chez les chiens qui appartiennent à des grandes races pour limiter les risques de torsion de l’estomac auxquels ils sont plus sujets,
					chez les animaux qui souffrent de troubles gastro-intestinaux. Le fractionnement des repas leur garantira une digestion plus facile, chez les chiens qui sont particulièrement voraces naturellement (Labrador, Beagle…) ou qui ont des apports caloriques réduits dans le cadre d’un régime amaigrissant afin de leur éviter de trop ressentir la faim.</p>
		    </div>
		    <div class="illu">
		    	<img src="{{ asset('img/fiches/oiseaux/perroquet/parrot.jpg') }}">
		    </div>  
		    </div>
		</div>


		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2>Comment prendre soins de nous</h2>
		        	<p>
		        		<h4> 1) pas de concession avec l'hygiène !</h4><br>
		        		L'eau de l'abreuvoir, les graines des auges, les fruits et légumes en sus : tout se change tous les jours. Le fond de cage, amovible, mérite également d'être lavé quotidiennement à l'eau chaude avec un produit de vaisselle (attention à bien rincer). Pour la cage au complet, il faut s'y mettre une fois par semaine, en retirant les fientes partout où elles se trouvent (perchoirs inclus).

						Votre oiseau vous aide à sa façon, en s'occupant de sa propre toilette. Il y a bien sûr le bain d'eau tiède mais c'est surtout son bec qui lui sert de peigne et fait le gros du travail : après l'avoir imbibé de sébum sécrété par une glande proche de la queue, il s'en sert pour lisser parfaitement ses plumes. Au-delà de l'aspect esthétique, cette pratique est fort utile puisqu'elle lui permet d'éliminer bon nombre de parasites au passage. En outre, certains oiseaux grattent leur bec sur une surface rugueuse ou avec leur patte, éliminant de fait des bactéries.<br>

						Finalement, ce sont surtout pour ses griffes, que votre oiseau va avoir besoin de vous : en effet, chez un oiseau captif, elles ne s'usent pas assez. Quand elles deviennent trop longues, il faut couper avec des petits ciseaux vendus en animalerie, spécialement prévus à cet effet. Pour bien faire, ne dépassez jamais l'équivalent d'un demi-cercle (si la griffe était posée sur le cadran d'une montre avec le haut du doigt situé à midi, il ne faudrait donc pas couper la griffe au-delà de 6 heures). La première fois, demandez au vétérinaire de s'en charger pour avoir un modèle. Idem pour la coupe du bec de certaines perruches, à faire avant qu'elles n'arrivent plus à se nourrir : mieux vaut confier cette mission encore plus délicate à un professionnel.<br></br>
		        		<h4> 2) Les signes qui doivent vous faire consulter</h4><br>
		        		Tout peut évoluer très vite chez un oiseau et c'est pourquoi vous ne pouvez pas vous permettre d'attendre, si votre petit protégé présente l'un de ces symptômes : s'il se tient en boule, plumes ébouriffées et tremblant, les yeux clos. Méfiez-vous également s'il présente un jetage important (sécrétions s'écoulant du bec) ou des troubles respiratoires (rythme accéléré). S'il a du mal à se percher ou à se déplacer, s'il est souillé par du sang ou par des excréments, si son bec et ses pattes sont déformés ou présentent des écailles. S'il a des zones sans plume, s'il ne touche plus à son alimentation ou encore, si ses fientes sont liquides ou absentes. Emmenez-le très vite chez le vétérinaire, faute de quoi, l'évolution pourrait être dramatique...<br></br>
		        	</p>
		        </div>
		        <div class="illu">
		    	<img src="{{ asset('img/fiches/oiseaux/canari.jpg') }}">
		    </div>  
		    </div>
		</div>

		<div class="modal"> 
		    <div class="modal_content modal_content_block">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        		<h2>Les différents oiseaux que vous pouvez adopter</h2><br>
		        		<div><h4>- Le diamant mandarin</h4><br>
		        		<img class="raceOiseaux" src="{{ asset('img/fiches/oiseaux/diamantMandarin.jpg') }}" ><br></br>
			        	</div>
			        	<div><h4>- Le canari</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/oiseaux/canari.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- Le diamant de Gould</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/oiseaux/diamantDeGould.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- Le mainate religieux</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/oiseaux/mainateReligieux.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- L’inséparable</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/oiseaux/inseparable.jpg') }}" ><br></br>
			        	</div>
			        	<div><h4>- La perruche Calopsitte</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/oiseaux/perrucheCalopsitte.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- La perruche ondulée</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/oiseaux/perrucheOndulee.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- L’Amazone</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/oiseaux/amazone.jpg') }}"><br></br>
			        	</div>
			      </div>
		    </div>
		</div>

		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2> Que faut-il savoir sur nous ? </h2>
		        	<p> Taille : variable selon la race <br/>
			        Poids : variable selon la race <br/>
			        Longévité : 10-13 ans <br>
			        Les chiens de petite race ont une espérance de vie plus longue et ne sont considérés comme vieux qu’aux alentours de 12-13 ans alors que les gros chiens sont vieux vers 8-9 ans. La longévité maximale pour un chien est de 27 ans. Les scientifiques ont déterminé que la moyenne de vie est de 13 ans si l’on prend en compte toutes les races. <br/>
			        Vitesse : 32 km/h <br>
			        Les vitesses du chien peuvent varier selon les races, voici les plus rapides :
			        Lévrier anglais peut atteindre jusqu'à 63 Km / h.<br>
			        Lévrier espagnol peut courir jusqu'à 60 km/h.<br>
			        Saluki, le lévrier ancestral <br>
			        Le lévrier afghan <br> </p>
		        </div> 
		        <div class="illu">
		    	<img src="{{ asset('img/fiches/oiseaux/perruche/perruche_3.jpg') }}">
		    </div>   
		    </div>
		</div>
	</div>

	<div id="modals_rongeur">
		<div class="modal"> 
		    <div class="modal_content">
		    <div class="close">&times;</div>  
		    <div class="text_mod"> 
				<h2>Caractéristiques</h2>
				<p>	Les rongeurs ou rodentiens (rodentia) sont des mammifères. Ils sont caractérisés par leur système dentaire qui correspond à un régime herbivore particulier. Ce système dentaire est incomplet car les incisives sont en croissance continue sur chacune de leurs mâchoires. </p>
				<p>Taille : La taille d’un rongeur peut différer selon leur espèce.<br>
				Le plus petit rongeur est la gerboise Salpingotulus Michaelis qui mesure en moyenne 4.4cm<br>
				Le plus grand est le capybara Hydrochoerus hydrochaeris mesure jusqu’à 1.2m de long et 60 cm de haut<br> </p>
				<p>Poids : <br> La masse de la gerboise Salpingotulus Michaelis est de 3.75g <br> Le Capybara peut peser jusqu’à 66kg. <br> 
				Longévité : la longévité peut aller de 4 ans jusqu’à 17 ans selon leur espèce.<br> </p>
				<p>	Il existe plusieurs espèces de rongeurs et chaque espèce est différente ! <br> Leur alimentation peut être simplement herbivore ou bien omnivore. Pour en savoir plus, veuillez regarder les autres fiches. </p>
				<p>Cependant, pas tous les rongeurs sont adoptables !</p>
		    </div>
		    <div class="illu"><img src="{{ asset('img/fiches/rongeurs/squirrel.jpg') }}"></div>
		    </div>
		</div>


		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2>Lapin</h2>
		        	<p>Taille : environ 20 cm <br> Poids : 800 à 2000 g <br> Espérance de vie: 5 à 8 ans </p>
		        	<p> Variétés : Il existe plusieurs variétés de lapins nains et sont différenciés par leurs couleurs : <br>
					- Les unicolores<br>
					- Les agoutis (tour des yeux, narines, dessous du menton, queue, ventres ont des couleurs différentes du pelage)<br>
					- Les variétés avec marques (Oreilles/Museau/Extrémité des pattes plus foncées)<br>
					- Les variétés à dessin (figures colorées sur certaines parties du corps)<br> </p>
					<p>Alimentation:<br>
					Régime : Herbivore<br>
					Alimentation : Son alimentation est essentiellement composée de fibres contenues dans les végétaux, foin, carottes et graines. Pour garder des dents saines, le lapin doit ronger des aliments “bruts” donc ces animaux mâchent les aliments plus longtemps. </p>
					<p>Reproduction:<br>
					La maturité sexuelle du lapin est à 6 mois.<br>
					Gestation : La période de gestation est d’un mois en moyenne. 
					Par année, un hamster peut avoir 2 à 3 portées et jusqu’à 3 à 4 petits par portée.<br>
					La durée de la lactation est de 3 semaines. </p>
					<p>Vaccinations:<br>
					Le lapin doit être régulièrement vacciné contre deux maladies virales : la myxomatose et la maladie hémorragique virale (V.H.D.) qui sont des maladies graves.<br>
					Pour la myxomatose, il faut vacciner pour la première fois à l’âge de 30 jours et un rappel à 8-10 semaines. Les prochains rappels se font tous les 4 à 6 mois.<br>
					Pour la V.H.D., la première vaccination s’exécute à deux mois et demi et un rappel un mois plus tard. Les prochains rappels se font une fois par an.</p>
		        </div>
		        <div class="illu">
		        	<img src="{{ asset('img/fiches/rongeurs/lapin/rabbit_2.jpg') }}">
		        </div>
		    </div>
		</div>

		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2>Cochon d'Inde</h2>
		        	<p>Taille : 20 à 40 cm <br>Poids : 700 g à 1000g<br>Espérance de vie: 4 à 8 ans<br> En moyenne les cochons d’Inde vivent entre 4 et 8 ans. Le record de longévité d'un cochon d’Inde est de presque 15 ans.</p>
		        	<p>Alimentation: <br>Régime : Herbivore strict<br>Alimentation : Les cochon d’Inde doivent avoir une alimentation adapté sinon il tombe rapidement malade … Il ne possède pas de période de repas fixes mais doit grignoter en permanence pour que son système digestif puisse fonctionner correctement et qu’il n’ait jamais faim. Il mange des fruits et des légumes variés mais attention il développe des préférences pour certains aliments au bout de 2 jours donc proposez lui divers fruits/légumes les premiers jours.</p>
		        	<p>Reproduction:<br> Gestation : La période de gestation est de 68 jours en moyenne. <br> Portée : Le cochon d'Inde peut avoir 2 à 4 portées par an; avec 1 à 6 petits par portée. <br> 
		        	Pour la femelle : <br> Maturation sexuelle : <br> Les femelles : 4 semaines; <br> Les mâles : 3 semaines </p>
		        	<p>Le cochon d'Inde n'a pas besoin de vaccination.</p>
		        </div>
		        <div class="illu">
		        	<img src="{{ asset('img/fiches/rongeurs/cochon_dinde/guinea_pig_3.jpg') }}">
		        </div>
		    </div>
		</div>

		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2> Hamster </h2>
		        	<p> Taille : 13 à 15 cm <br>Poids : environ 120g <br>Espérance de vie: 3 ans <br></p>
		        	<p>Alimentation:<br>Régime : Omnivore<br>
					Alimentation : Les hamsters mangent des végétaux tels que les plantes, graines, tubercules, fruits mais aussi des aliments d’origine animale comme les insectes, vers, escargots, grenouilles, souris, petits oiseaux… Le hamster doit avoir une alimentation riche et variée.</p>
					<p>Reproduction:<br>La maturité sexuelle de l’hamster est à 2 mois.<br>Gestation : La période de gestation est de 17 jours en moyenne. <br>Par année, un hamster peut avoir 6 portées et jusqu’à 6 petits par portée.<br>La durée de la lactation est de 3 semaines. </p>
					<p>Vaccinations:<br>Le hamster n’a pas besoin d’être vacciné.</p>
		        </div>
		        <div class="illu">
		        	<img src="{{ asset('img/fiches/rongeurs/hamster/hamster_2.jpg') }}">
		        </div>   
		    </div>
		</div>
		<div class="modal"> 
		    <div class="modal_content">
		    <div class="close">&times;</div>  
		    <div class="text_mod"> 
				<h2> Gerbille </h2>
				<p> Taille : environ 12 cm <br>Poids : 75 à 120g <br>Espérance de vie: 3 à 5 ans</p>
				<p>Alimentation:<br>
				Régime : Principalement herbivore<br>
				Alimentation : La gerbille se nourrissent principalement de feuilles, brindilles, racines et des graines. Mais elles se nourrissent aussi d’aliments d’origine animale tels que les insectes, les petits lézards, de grenouilles, etc. Le régime idéal d’une gerbille doit être composée de graines, de fruits, des légumes, du foin et des protéines qu’on peut trouver dans des croquettes pour chats, soja, vers ou des préparations conçues pour les gerbilles.				</p>
				<p>Reproduction:<br>
				La maturité sexuelle de la gerbille est à 1 an.<br>
				La fin de la reproduction est à 18 mois.<br>
				Gestation : La période de gestation est de 26 jours en moyenne. <br>
				Une gerbille peut avoir 4 à 8 petits par portée.<br>
				La durée de la lactation est de 3 semaines. </p>
		    </div>
		    <div class="illu"><img src="{{ asset('img/fiches/rongeurs/gerbille/gerbille_2.jpg') }}"></div>
		    </div>
		</div>
		<div class="modal"> 
		    <div class="modal_content">
		    <div class="close">&times;</div>  
		    <div class="text_mod"> 
				<h2> Souris </h2>
				<p> Taille : environ 7 à 10 cm <br>Poids : 30 à 35g <br>Espérance de vie: 2 ans</p>
				<p>Alimentation:<br>
				Régime : Omnivore<br>
				Alimentation : La souris apprécie beaucoup le maïs, le blé et l'orge; cependant cela ne l'empêche pas de se nourrir d'aliments d'origine animale tel que les insectes. Son régime idéal comprend cinq catégories d’aliments différents : foin, graines sèches, légumes frais, fruits ; dans la cinquième catégorie figurent, entre autres, le pain, le fromage et les granulés.</p>
				<p>Reproduction:<br>
				La maturité sexuelle de la souris est à 45 jours pour le mâle et 40 à 45 jours pour la femelle.<br>
				Gestation : La période de gestation est de 21 jours en moyenne. <br>
				Par an, la souris peut avoir 4 à 8 portées avec 6 à 12 petits par portée.<br>
				La durée de la lactation est de 3 semaines. </p>
		    </div>
		    <div class="illu"><img src="{{ asset('img/fiches/rongeurs/souris/mouse_2.jpg') }}"></div>
		    </div>
		</div>
	</div>

	<div id="modals_poisson">
		<div class="modal"> 
		    <div class="modal_content">
		    <div class="close">&times;</div>  
		    <div class="text_mod"> 
				<h2> Que mangent-t-ils ? </h2>
				<p>Les poissons peuvent se diviser en trois grandes catégories : les carnivores, qui se nourrissent de vers, d'insectes, de crustacés et même parfois d'autres poissons (nourriture riche en protéines et en lipides mais prises de nourriture peu fréquentes, typiquement 1 à 2 fois par jour); les omnivores, très opportunistes, qui associent nourriture carnée et végétaux (équilibre des protéines, glucides et lipides, 2 à 3 prises de nourriture par jour); les herbivores se nourrissent eux essentiellement de plantes ou d'algues mais ont besoin de beaucoup de temps pour s'alimenter (la plupart de ceux-ci auront besoin d'un supplément car les ressources d'un aquarium sont très limitées).</p>
				<p>Les proportions de ces divers éléments mais aussi la taille et la texture de l'aliment varient en fonction des espèces et de leur régime alimentaire : les nourritures sèches conviennent pour la majorité des poissons d'ornement et servent généralement de base à l'alimentation (sauf pour quelques espèces particulières qui ne les accepteront pas) car elles ont été spécialement conçues pour éviter le développement de carences. Le choix est immense et reflète en cela la variété des régimes alimentaires et de morphologie des poissons : bien lire l'étiquette avant d'acheter permet de ne pas se tromper.</p>
				<p>Nourrissez vos poissons deux à trois fois par jour.</p>
		    </div>
		    <div class="illu"><img src="{{ asset('img/fiches/poisson/yellow_fish.jpg') }}"></div>
		    </div>
		</div>


		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2>Santé</h2>
		        	<p>Il faut savoir avant d'adopter un poisson; si vous voulez un aquarium tropical ou bien d'eau douce. <br> Par exemple, les poissons d'eau douce ont besoin d'espace mais ils sont moins coûteux et sont plus résistants même si vous faites des erreurs. Très peu de connaissances complexes sont nécessaires pour un poisson d'eau douce comparés aux poissons d'eau salée.</p>
		        	<p>Il faut aussi chercher quels poissons vous voulez adopter ! Certaines espèces sont compatibles, d'autres non. De plus, il est conseillé d'avoir plus d'un poisson pour qu'ils ne s'ennuient pas. <br> Certains poissons peuvent être nourris avec des flocons de nourriture; il existe des mangeoires automatiques si vous êtes absent durant une période assez longue.</p>
		        	<p>Il faut avoir un aquarium de la bonne taille pour chaque poisson. Il est conseillé d'avoir un aquarium assez grand; s'il est trop grand, ce n'est pas un problème ! Les poissons aiment avoir de l'espace.<br> N'hésitez pas à acheter des filtres, chauffe-eaux, des produits d'entretien d'eau pour votre aquarium. Le nettoyage de l'aquarium devrait se faire au moins chaque semaine. Pour les poissons d'eau douce, il est possible de remplacer l'eau nettoyée par de l'eau du robinet (sans oublier de la traiter !).</p>
		        	<p>Le stress existe chez les poissons et peuvent avoir des mauvaises conséquences pour nos amis. Faire du bruit, toucher le poisson, mettre la main dans l'eau peuvent le stresser.</p>
		        </div>
		        <div class="illu"><img src="{{ asset('img/fiches/poisson/aquarium_2.jpg') }}"></div>
		    </div>
		</div>
		

		<div class="modal"> 
		    <div class="modal_content modal_content_block">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2>Espèces</h2>
		        	<h2>Poisson d'eau douce</h2><br>
		        		<div><h4>- Poisson rouge</h4><br>
		        		<img class="raceChat" src="{{ asset('img/fiches/poisson/poisson_eau_douce/goldfish.jpg') }}" ><br></br>
			        	</div>
			        	<div><h4>- Poisson guppy</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/poisson/poisson_eau_douce/guppy.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- Crevette Caridina</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/poisson/poisson_eau_douce/caridina.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- Poisson Cheirodon Axelrodi</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/poisson/poisson_eau_douce/cheiroaxel.jpg') }}" ><br></br>
			        	</div>
			        	<div><h4>- Poisson Betta Splendens</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/poisson/poisson_eau_douce/bettaspl.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- Crevette Red Cherry</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/poisson/poisson_eau_douce/crevetterc.jpg') }}"><br></br>
			        	</div>
			        	<div><h4>- Poisson Hemmigrammus Bleherii : M/L</h4><br>
			        		<img class="raceChat" src="{{ asset('img/fiches/poisson/poisson_eau_douce/hemmigrammus.jpg') }}"><br></br>
			        	</div>
			    </div>
		    </div>
		</div>
		
		<div class="modal"> 
		    <div class="modal_content">
		        <div class="close">&times;</div>
		        <div class="text_mod"> 
		        	<h2> Que faut-il savoir sur nous ? </h2>
		        	<p>Les poissons sont des animaux vertébrés aquatiques à branchies, pourvues de nageoires et dont le corps est souvent couvert d’écailles.</p>
					<p>Taille : La taille d’un poisson peut différer selon leur espèce.<br>
					Poids : Tout comme sa taille, la masse d’un poisson peut varier !<br>
					Longévité : Un poisson peut vivre jusqu’à 10 ans même plus !</p>
					<p>Il y a différents types de poissons : certains vivent dans les eaux douces, tandis que d’autres vivent dans des eaux salés. Il est possible d’adopter plusieurs poissons et plusieurs espèces pour un même aquarium; mais gare aux espèces qui pourraient être un danger pour d’autres !</p>
		        </div> 
		        <div class="illu"><img src="{{ asset('img/fiches/poisson/aquarium.jpg') }}"></div>
		    	</div>  
		    </div>
		</div>
	</div>
{% endblock %}
