{% extends "base.html.twig" %}

{% block title %}Forum{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Forum</h1>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}