{% extends "base.html.twig" %}

{% block title %}Praticien{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/praticien/praticien.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.8/leaflet-routing-machine.css" />
{% endblock %}

{% block body %}
    <h1>Trouver un praticien</h1>
    <div id="map"></div>
    <div class="container">
        <label for="start">Adresse actuelle :</label>
        <input type="text" id="start">
        <input type="submit" value="soumettre">
        <label for="ville">Ville :</label>
        <input type="text" id="ville">
        <input type="submit" value="soumettre">
        <button id="clear">Recommencer</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/perliedman-leaflet-control-geocoder/1.5.8/Control.Geocoder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.8/leaflet-routing-machine.js"></script>
    <script src="{{ asset('js/praticien/leaflet/config.js') }}"></script>
    <script src="{{ asset('js/praticien/leaflet/script.js') }}"></script>
{% endblock %}