{% extends "base.html.twig" %}

{% block title %}Rendez-vous{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rdv/rdv.css') }}">
{% endblock %}

{% block body %}
    <div class="haut">
        <h1>Prendre rendez-vous</h1>
        <div class="btnSemaine">
            <button type="button" id="reculerBtn"><<</button>
            <button type="button" id="avancerBtn">>></button>
        </div>
    </div>
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow jour">

                <div class="divTableCell neutre">&nbsp;</div>
                <!--la seconde div dans chaque divTableRow est dédiée au jour-->

                <div class="divTableCell jours"><div class="jours2"></div><div class="date"></div></div>
                <div class="divTableCell jours"><div class="jours2"> </div><div class="date"> </div></div>
                <div class="divTableCell jours"><div class="jours2"> </div><div class="date"> </div></div>
                <div class="divTableCell jours"><div class="jours2"> </div><div class="date"> </div></div>
                <div class="divTableCell jours"><div class="jours2"> </div><div class="date"> </div></div>
                <div class="divTableCell jours"><div class="jours2"> </div><div class="date"> </div></div>

            </div>
            <div class="divTableRow">
                <!--la première div dans chaque divTableRow est dédiée à l'horaire (exemple : 9h - 10h)-->
                <div class="divTableCell heure">8h - 9h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>

            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">9h - 10h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">10h - 11h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">11h - 12h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">12h - 13h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">13h - 14h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">14h - 15h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">15h - 16h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">16h - 17h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell heure">17h - 18h</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
        </div>
    </div>
    <div id="dialog">
        <h2>Confirmez votre réservation</h2>
        <p>Vous avez demandé une réservation le <div id="date"></div> à <div id="heure"></div></p>
    </div>
    {% if rdvs is defined %}
        {{ dump(rdvs) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/rdv/rdv.js') }}"></script>
    <script src="{{ asset('js/rdv/jscript.js') }}"></script>
{% endblock %}