{% extends "base.html.twig" %}

{% block title %}Secourisme{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/secourisme/secourisme.css') }}">
<link rel="stylesheet" href="{{ asset('css/secourisme/secourismeFiches.css') }}">

{% endblock %}


{% block body %}

<section id="presentation">
<div id="titreSecourisme">
<img class="svg" src="{{ asset("svg/secourisme/first-aid.svg") }}"> <h1>Secourisme</h1> <img class="svg" src="{{ asset("svg/secourisme/warning.svg") }}">
</div>
<div id="introPage">
<h3>Retenez bien que la probabilité de survie de votre animal avec de la  réanimation est très faible. Cependant, durant une urgence, cela peut donner une dernière chance à votre animal.</h3>
<h3>Rappelez vous que tous les gestes de premiers secours que vous administrez à votre animal doivent être suivis immédiatement par des soins vétérinaires. Les premiers soins ne remplacent pas les soins vétérinaires mais cela peut sauver la vie de votre animal de compagnie le temps de recevoir les traitements vétérinaires.</h3>
</div>


<div class="row-6">
   	<div class="case" id="burns">Brûlures</div>
	<div class="case" id="chocking">Étouffement</div>
	<div class="case" id="fractures">Fractures</div>
	<div class="case" id="heart">Problèmes cardiaques</div>
	<div class="case" id="bleeding">Saignements</div>
</div>

<div id="cas">
	<div id="divburns">

        <h1 class="titreFiche">BRÛLURE</h1>
        <div class="introFiche">
            <img src="{{asset('svg/secourisme/chat_brulure.svg')}}">
            <div class="txtIntro"><h3>Toute brûlure, même minime, doit être prise au sérieux car la guérison sans séquelles dépend de la cause, de l’étendue, et de la localisation de la brûlure.Chez l’animal, la présence du pelage a certes un effet protecteur, mais il faudra toujours se méfier de l’existence de lésions graves cachées par les poils.</h3>
            </div>
        </div>
        
        <div class="reagir">            
            <h2><span class="index"></span> RÉAGIR </h2>
            <p> 1) CHIMIQUE<br></br>
                --> Muselez votre animal<br>
                --> Versez immédiatement de grandes quantités d’eau sur la blessure.<br>
                --> Séchez la peau délicatement.<br></br>

                2) SÉVERE<br></br>
                --> Si vous en avez dans votre pharmacie familiale, appliquez généreusement de la BIAFINE exclusivement, sur un demi centimètre d’épaisseur, ou à défaut, du tulle gras.<br>

                --> En attendant l’intervention du vétérinaire, couvrez la blessure d’une compresse ou d’un linge propre imbibé d’antiseptique (ne pas mettre d’alcool).<br></br>
            </p>
        </div>


    </div>
	<div id="divchocking">

        <h1 class="titreFiche">ÉTOUFFEMENT</h1>
        <div class="introFiche">
            <img alt="etouffement" src="{{ asset('svg/secourisme/chien_etouff.svg') }}">
            <div class="txtIntro"><h3>L'étouffement est une raison courante pour laquelle les animaux de compagnie sont amenés chez le vétérinaire. Voici quelques exemples des différentes causes possibles <br>
                - Les objets étrangers<br>
                - L’asthme félin<br>
                - Les colliers souvent une cause négligée de risque d'étouffement<br>
                - Maladie infectieuse<br>
                - Le collapsus trachéal chez le chien<br>
            </h3></div>
        </div>
        <div class="reconnaitre">            
            <h2><span class="index">1</span> RECONNAÎTRE lorsque son animal s'étouffe</h2>
            <p> Les symptômes sont généralement : <br></br>
                - difficultés respiratoires<br>
                - sons d’étouffements lorsqu’il respire ou toussotements<br>
                - se gratte souvent la truffe ou la bouche<br>
                - lèvres ou langue avec une teinte bleuté <br>

            </p>
        </div>
        <div class="reagir">            
            <h2><span class="index">2</span> RÉAGIR </h2>
            <p> 1) Agissez avec prudence - un animal qui s’étouffe a souvent tendance à
                mordre durant lorsqu’il panique<br></br>
                2) Si l’animal peut toujours respirer, calmez-le et emmenez-le au vétérinaire<br></br>
                3) Regardez à l'intérieur de sa gueule pour voir si l’objet avalé est visible. Si vous le voyez, essayer de le retirer avec délicatesse à l’aide d’une pince, mais faites attention à ne pas faire tomber l’objet plus loin dans sa gorge. Ne passez pas trop de temps à essayer de récuperer l’objet si il n’est pas facile d’accès et emmenez immédiatement votre animal chez le vétérinaire.<br></br>
                4) Si vous ne pouvez pas retirer l’objet ou si votre animal s'effondre, placez vos mains sur ses côtes et appliquez une pression rapide mais ferme, ou allongez votre animal sur le côté et tapez fermement les côtes avec les paumes de vos mains trois ou quatre fois. Le but est de rapidement libérer de l’air de ses poumons et retirer l’objet encombrant.  Répétez ces gestes jusqu’à ce que l’objet sorte ou jusqu’à ce que vous arriviez chez le vétérinaire.<br></br>
            </p>
        </div>

    </div>
	<div id="divfractures">

        <h1 class="titreFiche">FRACTURE</h1>
        <div class="introFiche">
            <img src="{{asset('img/secourisme/fracture.png')}}">
            <div class="txtIntro"><h3>Une fracture osseuse est le plus souvent due à un traumatisme important. Ce traumatisme peut être un accident de la voie publique (accident avec une voiture le plus souvent), une chute (chute d’un balcon ou d’un muret par exemple), une bagarre entre chien.<br></br>Les autres causes, moins fréquentes, de fractures sont les fractures de stress que l’on retrouve chez les chiens de course type lévriers (c’est un traumatisme plus faible mais répété qui cause la fracture) ou les fractures dites pathologiques. Ces dernières sont causées par une maladie (tumeur, en particulier ostéosarcome et infection le plus souvent) de l’os qui entraîne une faiblesse de la structure. </h3></div>
        </div>
        <div class="reconnaitre">            
            <h2><span class="index">1</span> RECONNAÎTRE</h2>
            <p> Les symptômes sont généralement : <br></br>
                - ne peut plus poser la patte au sol

            </p>
        </div>
        <div class="reagir">            
            <h2><span class="index">2</span> RÉAGIR </h2>
            <p> 1) Muselez votre animal<br></br>
                2) Allongez-le doucement sur une surface plate<br></br>
                3) Pendant que vous le transportez chez un vétérinaire, utilisez un brancard (une planche, ou quelque chose d’autre que vous pouvez utiliser comme un brancard fera très bien l’affaire. Sinon utilisez un paillasson, ou une couverture comme une écharpe). Si possible, attachez-le bien sur le brancard (faites en sorte de ne pas presser sur la région blessée) afin de le transporter correctement. Cela serait plus simple si vous l’enveloppiez dans une couverture. <br></br>
                4) Vous pouvez très bien corriger la fracture à l’aide d’une attelle faite-maison, mais rappelez vous qu’une attelle mal placée risque d’aggraver la blessure.
                En cas de doutes, il est plus prudent de laisser un vétérinaire procéder au bandage de la  
                fracture puis à l’installation de l’attelle.<br></br>
            </p>
        </div>

    </div>
	<div id="divheart">
     
        <h1 class="titreFiche">QUE FAIRE LORS D'UN ARRÊT CARDIAQUE?</h1>
        <div class="introFiche">
            <img src="{{ asset('img/secourisme/imgSecourismeAnimal.png')}}">
            <div class="txtIntro"><h3>Après les maladies infectieuses et les maladies incurables, les accidents cardiovasculaires sont la troisième cause de mortalité chez les chiens. Ainsi, il est indispensable d’être préparé à réagir à ses accidents s’ils surviennent chez nos amis canins et félins. Voici les étapes à effectuer : </h3></div>
        </div>
        <div class="reconnaitre">            
            <h2><span class="index">1</span> RECONNAÎTRE lorsque son animal fait une crise cardique</h2>
            <p> Les symptômes sont généralement : <br></br>
                - Fièvre supérieure à 39.4°C <br>
                - Rythme cardiaque élevé (plus de 100 battements par minute pour les grands chiens, plus de 140 pour les petits)<br>
                - Vomissements<br>
                - Respiration irrégulière<br>
                - Rigidité musculaire<br>
                - Convulsions<br>
                - Immobilité et confusion<br>
                - Effondrement soudain<br>
            </p>
        </div>
        <div class="reagir">            
            <h2><span class="index">2</span> RÉAGIR </h2>
            <p> 1) Allongez avec précaution votre animal de compagnie sur une surface
                stable. Le coeur se situe dans la partie basse du côté gauche de la poitrine, juste derrière le coude de l’avant-bras. Placez une main en sous la poitrine de l'animal pour le soutien et l’autre main sur le coeur.<br></br>
                2) Pour les chiens, pressez doucement sur le coeur de votre animal avec environ 1 pouce de profondeur pour des chiens de taille moyenne; pressez plus fort pour des animau plus grand et avec moins de force pour des animaux plus petits<br></br>
                3) Pour effectuer un massage cardiaque pour les chats et les autres animaux de petite taille, enveloppez la poitrine de l’animal avec votre main de sorte que votre pouce se retrouve du côté gauche de sa poitrine et vos doigts du côté droit; ensuite, compressez la poitrine en effectuant une pression à l’aide de votre votre pouce et de vos doigts.<br></br>
                4) Appuyez environ 80-120 fois par minutes pour des animaux de plus grande taille et entre 100-150 fois pour les plus petits. N’effectuez pas de bouche à museau et de massage cardiaque en même temps; alternez entre les deux, ou alors effectuez les gestes de secours avec une autre personne avec une personne effectuant le massage cardiaque pendant 4-5 secondes et arrêter assez longtemps pour permettre à l’autre personne d’effectuer le bouche à museau pour aider l’animal à respirer.<br></br>
                5) Continuez jusqu’à pouvoir entendre un battement de coeur et votre animal respirer de façon régulière ou alors jusqu’à arriver à une clinique vétérinaire et ainsi s’assurer qu’ils puissent continuer les soins à administrer à votre animal. <br></br>
            </p>
        </div>

    </div>
	<div id="divbleeding">
        <h1 class="titreFiche">SAIGNEMENTS</h1>
        <div class="introFiche">
            <img src="{{asset('svg/secourisme/chat_saignement.svg')}}">
            <div class="txtIntro"><h3>Une plaie constitue une brèche dans la barrière naturelle qu'est la peau. Qu'elle saigne ou non, et quelle que soit sa taille, elle permet la pénétration de diverses bactéries pathogènes à l'intérieur de l'organisme. </h3></div>
        </div>
        <div class="reagir">            
            <h2><span class="index"></span> RÉAGIR </h2>
            <p> 1) Muselez votre animal<br></br>
                2) Pressez sur la plaie un tampon à base de gaze épais, et continuez la pression jusqu’à la formation d’un caillot sanguin. La formation d’un caillot assez épais peut prendre plusieurs minutes. Plus le caillot est épais, mieux sera l’arrêt du saignement.Plutôt que de vérifier par intervalle la formation du caillot sanguin, bloquez la pression sur la plaie pendant 3 minutes, puis vérifiez.<br></br>
                3) Pendant que vous le transportez chez un vétérinaire, utilisez un brancard (une planche, ou quelque chose d’autre que vous pouvez utiliser comme un brancard fera très bien l’affaire. Sinon utilisez un paillasson, ou une couverture comme une écharpe). Si possible, attachez-le bien sur le brancard (faites en sorte de ne pas presser sur la région blessée) afin de le transporter correctement. Cela serait plus simple si vous l’enveloppiez dans une couverture. <br></br>
                4)Si le saignement est sévère et qu’il se trouve sur les jambes, appliquez un garrot (en utilisant une bande élastique ou du gauze) entre la blessure et le corps. Appliquez ensuite un bandage sur la blessure. Desserrez le garrot pendant 20 secondes, sur un intervalle de 15 à 20 secondes. Un saignement sévère peut être menaçant pour la vie de votre animal : apportez immédiatement votre animal chez un vétérinaire si cela venait à se produire.<br></br>
            </p>
        </div>

    </div>
</div>

</div>

</section>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/secourisme/secourisme.js') }}"></script>{% endblock %}