/**{
    font-family: 'Advent Pro', sans-serif !important;
}
*/
body{
    margin:0 auto;
}

section{
    margin:0 auto;
}

/*SECTION IMGACC - IMAGE DE FOND + TITRE*/
#imgAcc{
    position: relative;
    text-align: center;
    color: white;
}

#imgAcc > img {
    width: 100%;
}

#centered{
    color: #cee7eb;
    text-shadow: 0 0 20px #3f8582, 0 0 20px #143b40;
}

/*SECTION - PRESENTATION - TITRE + TITRE DES PRESENTATIONS*/
#presentation{
    padding-bottom: 50px;
}
#presentation h1{
    font-size: 50px !important;
    text-align: center;
    width:70%;
    margin: auto;
    color:#a5b9bc /*#cee7eb*/ !important;
    padding: .3em;
}

#presentation p{
    font-size: 20px;
    text-align: center;
    width:70%;
    margin: auto;
    padding: .3em;
}

/*SECTION VOTE ANIMAL + IMAGE*/
#vote{
    
    background-color: /*#cee7eb*/ #0980AC;
    padding-top : 1%;
    padding-bottom : 4%; 
}

h2{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

section h1{
    color: white;
    text-align: center;
    font-size: 60px;
}

#images{
    display: grid;
    grid-template-columns: 33% 20% 33%;
    justify-content: center;
}
#images > div{

    justify-self:center;
}

.imageVote:hover
{
    cursor:pointer;
}

@media (min-width: 768px)
{
    #centered{
        position: absolute;
        font-size: 7em;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px)
{
    #centered{
        position: absolute;
        font-size: 3.5em;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#logosPresentation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items:center;
}

#logosPresentation div
{
    display: block;
    text-align: center;
}

#logosPresentation > div > img{
    width:30%;

}

#logosPresentation h3{
    color:#4da1a8;
}

hr{
    width:50%;
}
/*@media (max-width: 360px)
{
    #centered{
        font-size: 3em;
    }
}

@media (min-width: 1015px){
    #centered{
        font-size: 8em;
        top:17%;
        left:12%;
    }
} */